# Module 3: Data Structures Assignments
## Lesson 3.1: Lists

### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [1]:
positive_integers = list(range(1,21))
print(positive_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [3]:
print(positive_integers[0])
print(positive_integers[10])
print(positive_integers[-1])

1
11
20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [4]:
print(positive_integers[:5])
print(positive_integers[15:])
print(positive_integers[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]


### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [9]:
square = [ i*i for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [14]:
Even = [i for i in positive_integers  if i % 2 == 0 ]
print(Even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [16]:
list1 = [1,4,3,2,56,67,12,12,13,1,2]
list1.sort()
print(list1)
list1.sort(reverse = True)
print(list1)
c = list(set(list1))
print(c)

[1, 1, 2, 2, 3, 4, 12, 12, 13, 56, 67]
[67, 56, 13, 12, 12, 4, 3, 2, 2, 1, 1]
[1, 2, 67, 4, 3, 12, 13, 56]



### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [17]:
list1 = [[1,2,3],[4,5,6],[6,7,8]]
print(list1)
print(list1[1][2])

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]
6


### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [18]:
score = [{"name":"saiteja","score":95},{"name":"Shiva kumar","score":95},{"name":"Hari","score":75},{"name":"Akshith","score":80}]
result = sorted(score,key=lambda x: x["score"], reverse = True)
print(result)

[{'name': 'saiteja', 'score': 95}, {'name': 'Shiva kumar', 'score': 95}, {'name': 'Akshith', 'score': 80}, {'name': 'Hari', 'score': 75}]



### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [ ]:
def matrix(a):
  transpose = []
  for i in range(3):
    row = []
    for j in range(3):
      row.append(a[j][i])

    transpose.append(row)
  return transpose


l = [[1,2,3],[4,5,6],[6,7,8]]
result = matrix(l)


print("original matrix")
for i in l:
  print(i)

print("transpose matrix")

for j in result:
  print(j)

original matrix
[1, 2, 3]
[4, 5, 6]
[6, 7, 8]
transpose matrix
[1, 4, 6]
[2, 5, 7]
[3, 6, 8]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [21]:
def flatten(a):
    flatten = []
    for i in a:
      for j in i:
        flatten.append(j)
    return flatten

list1 = [[1,2,3],[4,5,6],[6,7,8]]
result = flatten(list1)
print("original matrix")
print(list1)
print("\nflatten matrix")
result = flatten(list1)
print(result)

original matrix
[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

flatten matrix
[1, 2, 3, 4, 5, 6, 6, 7, 8]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [22]:
list1 = list(range(1,11))
for i in [2,4,6]:
  list1.pop(i)
list1.insert(5,99)
print(list1)

[1, 2, 4, 5, 7, 99, 8, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [24]:
list1 = [1,2,3,4,5,6]
list2 = [5,6,7,8,9,10]

result = tuple(zip(list1,list2))
print(result)

((1, 5), (2, 6), (3, 7), (4, 8), (5, 9), (6, 10))

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [30]:
def reversed_list(list1):
  list1 = list1.copy()
  list1.reverse()
  return list1

list1 = [6,7,8,9,10]
result = reverse_list(list1)
print("original list")
print(list1)
print("\nreversed list")
print(result)

original list
[6, 7, 8, 9, 10]

reversed list
[10, 9, 8, 7, 6]


### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [31]:
def rotate(lst,n):
  return lst[n:] + lst[:n]

original = [1,2,3,4,5]
print("oginal list")
print(original)
result = rotate(original,2)
print("\nrotated list")
print(result)

oginal list
[1, 2, 3, 4, 5]

rotated list
[3, 4, 5, 1, 2]




















### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [35]:
def concate(list1, list2):
    a = set(list1)
    b = set(list2)
    result = a.intersection(b)
    return list(result)

c = [1, 2, 3, 1, 2]
d = [1, 2, 4, 5, 6]
result = concate(c, d)
print(result)

[1, 2]